@font-face {
    font-family: 'System';
    src: url('../../../../../fonts/Tkachev\ -\ Lugatype.otf') format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'User';
    src: url('../../../../../fonts/RS-semibold.otf') format("truetype");
    font-style: normal;
    font-weight: normal;
}

.user_description {
    padding: 0;
    font-family: 'System', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(217, 221, 150, 1);
    border-radius: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.user_description_item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
}

.user_description_item:nth-child(even){
    background-color: rgba(0, 0, 0, 0.2);
}

.user_data {
    font-family: 'User', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    margin-left: auto;
    padding-right: 10px;
}