.user_img_item {
    list-style-type: none;
    grid-area: 'image';
    font-size: 0;
}

.user_img_link {
    cursor: pointer;
    text-decoration: none;
}



.user_imgs {
    margin-bottom: 40px;
    border-bottom: 2px solid grey;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}