.sidebar {
    background-color: rgba(217, 221, 150, 1);
    grid-area: sidebar;
    border-radius: 10px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
}

.sidebar__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidebar__link  {
    display: block;
    text-decoration: none;
    color:black;
    font-family: 'System', sans-serif;
    font-size: 28px;
    cursor: pointer;
    padding: 10px 5px;
    background-color:rgba(128,128,128,0.2);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}


.sidebar__link:hover {
    color: white;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
}

.sidebar__link:active {
    background-color: rgba(0, 0, 0, 0.2);
}

.sidebar__item:not(:last-child) {
    margin-bottom: 30px;;
}

.active {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}