.dialogList {
    background-color: rgba(217, 221, 150, 0.8);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    border: 2px solid grey;
    margin-right: 20px;
    min-width: 200px;
}