.app {
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar content";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 1200px;
}

