.sidebarLink  {
    display: block;
    text-decoration: none;
    color:black;
    font-family: 'System', sans-serif;
    font-size: 28px;
    cursor: pointer;
    padding: 10px 5px;
    background-color:rgba(128,128,128,0.2);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}


.sidebarLink:hover {
    color: white;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
}

.sidebarLink:active {
    background-color: rgba(0, 0, 0, 0.2);
}

.sidebar__item:not(:last-child) {
    margin-bottom: 30px;;
}

.activeLink {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}