.user__img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid black;
    outline: 4px solid white;
    object-fit:cover;
    box-sizing: border-box;
    box-shadow: 0 0 0 6px #fff, 0 0 10px 12px #888
}